# {{ ansible_managed }}
{% set interface = item.value %}
{% set subnet = ((interface.router + "/" + interface.netmask) | ipaddr("host/prefix") | ipaddr("subnet")) %}

auto {{ interface.name }}
iface {{ interface.name }} inet static
  bridge_ports none
  bridge_fd 0
  bridge_maxwait 0
  address {{ interface.router }}
  netmask {{ interface.netmask }}
  down iptables -t nat -D POSTROUTING -s {{ subnet }} -o {{ interface.bridged_on }} -j MASQUERADE
  up   iptables -t nat -A POSTROUTING -s {{ subnet }} -o {{ interface.bridged_on }} -j MASQUERADE
